@tailwind base;
@tailwind components;
@tailwind utilities;

.nuages{
    background-image: url('/images/w/hz.webp');
}
.nuageBleu{
    background-image: url('/images/w/enver.png');
    background-repeat: no-repeat;
    background-position: top;
}